script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"

script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'

section.container
  .col-md-8
    = render partial: "product", collection: @products
  .col-md-4
    #map style="width:100%; height:400px;"


javascript:
  var handler;
  $(document).ready(function() {
    var current_center = new google.maps.LatLng(#{params[:latitude] ||current_user.latitude}, #{params[:longitude] || current_user.longitude})

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      handler.getMap().setZoom(12);
      handler.getMap().setCenter(current_center);
      radiusCircle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
        map: handler.getMap(),
        center: current_center,
        radius: (2 / 0.000621371) // two miles in meters

      });
    });

    google.maps.event.addListener(handler.getMap(), 'click', function(e) {
      window.location.href = "#{products_path}?latitude=" + e.latLng.k + "&longitude=" + e.latLng.D
    });

  });