script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"

script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'

section.container
  .col-md-8
    #products
      = render partial: "product", collection: @products
  .col-md-4
    #map style="width:100%; height:400px;"


javascript:
  var handler;
  $(document).ready(function() {

  
    // Timer
    setInterval(function()
    {
      var times_to_expire = $('.time-to-expire') 
      $.each(times_to_expire, function(index, string){
        time_left_string = $(this).html()
        time_left_integer = parseInt(time_left_string)
        
        if (time_left_integer > 0)
        {
          $(this).html(time_left_integer - 1)
        }
        else
        {
          $(this).html("Expirado")
          $(this).toggleClass("time-to-expire")
        }


        })

    }, 1000)
    
    
    // Googlempas
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){ 
      var current_center = new google.maps.LatLng(#{params[:latitude] ||current_user.latitude}, #{params[:longitude] || current_user.longitude})

      handler.getMap().setZoom(12);
      handler.getMap().setCenter(current_center);
      var radiusCircle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
        map: handler.getMap(),
        center: current_center,
        radius: (2 / 0.000621371) // two miles in meters

      });

      google.maps.event.addListener(handler.getMap(), 'click', function(e){
        radiusCircle.setMap(null);
        $.ajax({
          url:"#{products_path}",
          method: "GET",
          dataType: "script",
          data: { latitude: e.latLng.k , longitude: e.latLng.D }
        })
        .done(function(xhr){
          console.log(xhr);
          handler.getMap().setCenter(e.latLng);
          handler.getMap().setZoom(12);
          radiusCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: handler.getMap(),
            center: e.latLng,
            radius: (2 / 0.000621371) // two miles in meters

          });


        })
      });
    });
  });